<header class="header">
  <div>
    <!--<p class="tiny">Try using the Chrome browser if you have issues viewing the site.</p>-->
    <h1>
      <!-- <img
        class="us-flag"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png"
      /> -->
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Maple_Leaf.svg"
      />
      <span>Big Brother Canada</span>
    </h1>
    <h3>Airs March 4th @ 8pm AST</h3>
  </div>
</header>
<nav>
  <ul class="inline-list main-nav">
    <li>
      <a ui-sref="home" ui-sref-active="active" ui-sref-active-eq>Standings</a>
    </li>
    <li>
      <a ui-sref="houseguests" ui-sref-active="active" ui-sref-active-eq
        >Houseguests</a
      >
    </li>
    <li>
      <a ui-sref="stats" ui-sref-active="active" ui-sref-active-eq>Stats</a>
    </li>
    <li>
      <a ui-sref="rules" ui-sref-active="active" ui-sref-active-eq>The Rules</a>
    </li>
    <li>
      <a ui-sref="picks" ui-sref-active="active" ui-sref-active-eq
        >Make Your Picks</a
      >
    </li>
  </ul>
</nav>
