
// site vars
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-color:  #333;

body {
    font-family:  $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
}