// site vars
// $base-font-family: 'Shadows Into Light Two',Helvetica, Arial, sans-serif;
$base-font-family: "Bree Serif", sans-serif;
$base-font-size: 24px;
$base-font-color: #cdcdcd;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  background-color: black;
}

.view-content .tiny {
  font-size: 12px;
  color: black;
}

.us-flag {
  top: 5px;
  display: inline-block;
  position: relative;
}

.evicted {
  -webkit-filter: grayscale(1) !important;
  -moz-filter: grayscale(1) !important;
  -ms-filter: grayscale(1) !important;
  filter: grayscale(1) !important;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

a {
  text-decoration: none;

  &.active {
    text-decoration: underline;
  }
}

header,
footer {
  background-color: black;
  //   border: 1px solid #cecece;
}

footer {
  padding-bottom: 10px;

  a {
    text-decoration: none;
    color: #fff;
    &.active {
      text-decoration: underline;
      color: #000;
    }
  }
}

header {
  text-align: center;
  background-image: url(/assets/celebrity-bg.jpg);
  background-size: cover;
  background-position: 10% 16%;

  @include medium {
    background-position: 10% 48%;
  }
  @include large {
    background-position: 10% 47%;
  }

  h3 {
    color: black;
  }

  h1 {
    font-size: 46px;
    padding-bottom: 25px;

    img {
      display: inline-block;
      width: 75px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin-top: 10px;
      display: inline-block;
      font-family: "Shrikhand";
      color: black;
      text-shadow: 3px 3px #fff;
    }
  }
}

nav {
  color: white;
  text-align: center;
  margin-bottom: 50px;

  a {
    color: white;
  }
}

.view-content {
  min-height: 600px;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 0 10px 50px 10px;
  margin: 0 auto;

  h1 {
    font-family: "Abril Fatface";
  }
}

footer {
  color: white;
  text-align: center;

  ul {
    font-size: 16px;

    li {
      display: block;
      padding: 10px;

      @include small {
        display: inline-block;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0;
  text-transform: uppercase;
}

.new {
  width: 20px;
  height: 20px;
  position: relative;
  left: 5px;
  top: 0;
  display: inline-block;
}

.main-nav {
  position: relative;
  font-size: 1.4em;

  li {
    display: block;
    margin: 10px;
    position: relative;

    @include small {
      display: inline-block;
    }
  }
}

.standings {
  margin-top: 20px;
}

.member-standings {
  display: inline-block;
  // font-family: "Shrikhand";

  & > li {
    margin: 10px;
    padding: 10px 20px;
    border: 6px inset rgba(255, 255, 255, 0.32);

    .paid {
      opacity: 0.6;
    }

    .houseguest-picks {
      width: 300px;
      display: inline-block;
      margin: 10px 0 0 0;
    }

    .houseguest-thumb {
      display: inline-block;
      width: 20%;
      vertical-align: top;

      img {
        width: 90%;
        height: 65px;
        cursor: pointer;
      }
    }
  }
}

.houseguest-grid {
  li {
    display: inline-block;
    width: 250px;
    height: 150px;
    padding: 10px;
  }
}

.houseguest-tile {
  width: 100%;
  height: 120%;
  display: inline-block;
  position: relative;
  background-size: 60% 100% !important;
  background-position: center !important;

  &.selected {
    .bio {
      color: black;
      background: rgba(240, 159, 10, 1);
    }
  }

  .bio {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0 0 0;
    background: rgba(0, 0, 0, 0.58);
    color: white;
    text-transform: uppercase;

    .name {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 70%;
    }

    .hometown,
    .profession,
    .age {
      font-size: 0.65em;
      font-weight: bold;
    }

    .age {
      margin-top: 5px;
    }

    .biolink {
      font-size: 0.8em;
      color: #00ffe7;
      font-weight: 900;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .points {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    background-color: #000;
    font-size: 0.65em;
    width: 100%;

    .wins {
      float: left;
      padding: 5px;
    }

    .total {
      float: right;
      padding: 5px;
    }
  }
}

.picks {
  .houseguest-tile {
    cursor: pointer;
  }

  .pick-rules {
    margin: 0 auto;
    margin-bottom: 20px;

    li {
      padding: 6px 0;
    }
  }

  .code-entry {
    margin-top: 20px;

    input {
      border: 5px solid white;
      -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
      padding: 5px;
      background: rgba(255, 255, 255, 0.5);
      margin: 0 0 10px 0;
      font-size: 20px;
      color: #fff;
    }
  }

  .code-message {
    margin: 10px 0;
  }

  .pick-buttons {
    margin: 25px 0;

    input {
      margin: 25px 25px;
    }

    .selected-picks {
      margin: 10px 0;
    }
  }
}

.rules {
  .intro {
    margin-bottom: 20px;
  }

  ul {
    margin: 0 auto;
    margin-bottom: 20px;

    li {
      padding: 6px 0;
    }
  }
}

.stats {
  .houseguest-popularity {
    margin: 0 auto;
    width: 75%;
    font-size: 16px;
  }
}

.trade {
  .houseguest-thumb {
    display: inline-block;
    width: 20%;
    vertical-align: top;

    img {
      cursor: pointer;
      max-width: 175px;
    }
  }
}
