$small-width: 400px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

*:focus {
    outline: none;
}

.inline-list {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

input[disabled].button, input[disabled].button:hover, input[disabled].button:hover, input[disabled].button:focus{
  cursor: not-allowed;
  background: #CDCDCD;
}

.button {
   background: #CDCDCD;
   padding: 14px 28px;
   border-radius: 14px;
   border: 0px solid #000;
   color: #000;
   font-size: 22px;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;



}
.button:hover {
   background: rgba(240,159,10, 1);
}