<div class="houseguests">

    <h1>Houseguest Bios</h1>

    <ul class="houseguest-grid">
        <li ng-repeat="houseguest in vm.houseguests  | orderBy: ['-points','name']">
            <div class="houseguest-tile {[{houseguest.isAlternate}]}" style="background: rgb(53, 53, 53) url('{[{houseguest.photo}]}') 0 0 no-repeat;">
                <div class="bio" test="{[{houseguest.isAlternate}]}">
                    <p class="name">{[{houseguest.name}]}</p>
                    <p class="age">Age: {[{houseguest.age}]}</p>
                    <p class="hometown">{[{houseguest.hometown}]}</p>
                    <p class="profession">{[{houseguest.profession}]}</p>
                    <p ng-if="houseguest.bio.length" class="biolink" ng-click="vm.showBio(houseguest.bio)">View Full Bio</p>
                </div>
                <div class="points">
                    <div class="wins">
                        <span class="hoh">HOH: {[{houseguest.hoh}]}</span>
                        <span class="pov">POV: {[{houseguest.pov}]}</span>
                        <span class="weeks">EVICTIONS: {[{houseguest.weeks}]}</span>
                    </div>
                    <div class="total">{[{vm.totalPoints(houseguest)}]}</div>
                </div>
            </div>
        </li>
    </ul>

</div>