<div class="rules">
    <h1>The Rules</h1>
    <ul class="points-list">
        <li>$10 buy in gets you a team of {[{vm.DataService.teamSize}]} houseguests.</li>
        <li>No person in the pool may have the exact same {[{vm.DataService.teamSize}]} houseguests as another.</li>
        <li>Houseguests combinations are picked on a first come, first serve basis.</li>
        <li>Buy in must be paid in cash or email money transfer before show starts.</li>
        <li>When there is a tie for a prize the value is split equally.</li>
    </ul>

    <h2>Point System</h2>
    <p class="intro">Each Houseguest on your team earns one point for every:</p>
    <ul class="points-list">
        <li>Head of Household they win.</li>
        <li>Power of Veto they win.</li>
        <li>Eviction they survive.</li>
    </ul>
    <p>The season winner gets 1 bonus point for winning at the end.</p>
</div>