<div class="standings">

    <h1>Standings</h1>
<!--     <h2>Prizes</h2>
    <ul style="text-transform: uppercase; margin-bottom: 25px;">
        <li style="margin-bottom: 5px;">1st: $500</li>
        <li style="margin-bottom: 5px;">2nd: $150</li>
        <li style="margin-bottom: 5px;">3rd: $75</li>
        <li style="margin-bottom: 5px;">4th: $25</li>
        <li style="margin-bottom: 5px;">Last: $20</li>
    </ul> -->

    <p>{[{vm.members.length}]} People</p>

    <ul class="member-standings">
        <li class="member-tile" ng-repeat="member in vm.sortedMembers">
            <div>
                <div class="name">
                    <span class="paid" ng-if="member.paid">$</span>
                    {[{member.name}]} - {[{member.points}]}
                </div>
                <ul class="houseguest-picks">
                    <li class="houseguest-thumb" ng-repeat="id in vm.MembersService.getMemberPicksAsArray(member)">
                        <img ng-click="vm.showBio(vm.houseguests[id].bio)" ng-src="{[{vm.houseguests[id].photo}]}" alt="{[{vm.houseguests[id].name}]}">
                    </li>
                </ul>
                <!-- <div style="margin: 5px 0 0 0;" ng-if="member.points == vm.firstPlacePointValue">
                        Winner! $500
                </div>
                <div style="margin: 5px 0 0 0;" ng-if="member.points == vm.secondPlacePointValue">
                        Winner! $150
                </div>
                <div style="margin: 5px 0 0 0;" ng-if="member.points == vm.thirdPlacePointValue">
                        Winner! $75
                </div>
                <div style="margin: 5px 0 0 0;" ng-if="member.points == vm.fourthPlacePointValue">
                        Winner! $25
                </div>
                <div style="margin: 5px 0 0 0;" ng-if="member.points == vm.lastPlacePointValue && member.points != vm.fourthPlacePointValue">
                        Winner! $20
                </div> -->
            </div>
        </li>
    </ul>

</div>