<div class="row">
    <div class="col-xs-12">
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
        <h1>Standings</h1>
    </div>
    <div class="col-xs-12 text-center">
        <ul class="list-unstyled">
            <li ng-repeat="member in vm.members">
                name: {[{member.name}]}
                has paid: {[{member.paid}]}
                picks: {[{member.picks}]}
            </li>
        </ul>
    </div>
</div>

